<form class="search-form" (ngSubmit)="onSubmit(searchTerm)">
  <input type="text" placeholder="Search by tags" name="search" class="form-control" [(ngModel)]="searchTerm">
  <button class="btn" type="submit"><img class="search-icon" src="assets/images/search-icon.png" alt=""></button>
</form>
<!-- <input type="search" class="form-control" placeholder="Enter search string" [formControl]="searchField"> -->
<ul class="img-grid">
  <li *ngFor="let img of imgList" [style.backgroundImage]="'url('+ img.media.m +')'"></li>
</ul>